:root {
    position: absolute;
    flex-grow: 1;
    width: auto;
    align-items: center;
    justify-content: center;
}

.hint-border {
    border-left-color: rgb(117, 255, 71);
    border-right-color: rgb(117, 255, 71);
    border-top-color: rgb(117, 255, 71);
    border-bottom-color: rgb(117, 255, 71);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
}
